services:
  campaigns:
    build:
      context: .
      dockerfile: ./apps/campaigns/Dockerfile
      target: development
    command: pnpm run start:dev campaigns
    env_file:
      - ./apps/campaigns/.env
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: development
    command: pnpm run start:dev auth
    env_file:
      - ./apps/auth/.env
    ports:
      - '3001:3001'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
  payments:
    build:
      context: .
      dockerfile: ./apps/payments/Dockerfile
      target: development
    command: pnpm run start:dev payments
    env_file:
      - ./apps/payments/.env
    ports:
      - '3002:3002'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
  donations:
    build:
      context: .
      dockerfile: ./apps/donations/Dockerfile
      target: development
    command: pnpm run start:dev donations
    env_file:
      - ./apps/donations/.env
    ports:
      - '3003:3003'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
  db:
    image: mongo
  rabbit:
    image: rabbitmq
    ports:
      - '5672:5672'